/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

/* * */
/* LABEL */

.label {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-gray-6);
  line-height: 1;
  white-space: nowrap;
}
