/* * */
/* CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  background-color: var(--gray0);
  overflow: scroll;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--gray2);
  }
}

/* * */
/* TABLE HEADER */

.tableHeaderRow,
.tableBodyRow {
  display: grid;
  grid-template-columns: 100px repeat(42, 30px);
  align-items: center;
  gap: 1px;
}

.tableHeaderRow {
  position: sticky;
  background-color: var(--gray2);
}

.tableBody {
  display: grid;
  gap: 1px;
  width: 100%;
}

.tableBodyRow:hover {
  background-color: var(--gray1);
}

.tableHeaderCell,
.tableBodyCell {
  display: flex;
  align-items: center;
  width: 100%;
}

.tableHeaderCell {
  min-height: 25px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.tableHeaderCell:hover {
  background-color: var(--gray3);
}

.tableHeaderCell:active {
  background-color: var(--gray4);
}

.tableBodyCell {
  min-height: 30px;
  align-items: center;
  justify-content: center;
}

.monthCell {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.monthCell:hover {
  background-color: var(--gray3);
}

.monthCell:active {
  background-color: var(--gray4);
}

/* * */
/* END OF YEAR */

.lastMonthOfYear {
  /* padding-bottom: 2px; */
  /* margin-bottom: 1px; */
  height: 2px;
  width: 100%;
  background-color: var(--color-gray-1);
  margin: 4px 0;
  /* opacity: 0.1; */
  /* border-bottom: 1px dotted rgba(255, 0, 0, 0.25); */
}
