/* * */
/* TABLE CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  background-color: var(--color-gray-2);
  border: 1px solid var(--color-gray-2);
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--color-gray-3);
    border-color: var(--color-gray-3);
  }
}

/* * */
/* ROW */

.row {
  display: grid;
  grid-template-columns: 40px 300px 40px 40px 180px 30px 150px 30px 150px 150px 500px;
  align-items: center;
  gap: var(--size-sm);
}

/* * */
/* HEADER */

.headerRow {
  color: var(--color-reference-1);
  background-color: var(--color-gray-1);
  font-size: 14px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .headerRow {
    background-color: var(--color-gray-2);
  }
}

/* * */
/* BODY */

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  width: 100%;
}

.bodyRow {
  background-color: var(--color-gray-0);
  font-size: 14px;
  font-weight: 500;
}

.bodyRow:hover {
  background-color: var(--color-gray-1);
}

@media (prefers-color-scheme: dark) {
  .bodyRow {
    background-color: var(--color-gray-1);
  }
  .bodyRow:hover {
    background-color: var(--color-gray-2);
  }
}

/* * */
/* COLUMN */

.column {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--size-sm) 0;
}

.column:first-child {
  padding-left: var(--size-sm);
}

.column:last-child {
  padding-right: var(--size-sm);
}

/* * */
/* HORIZONTAL ALIGNMENT */

.hcenter {
  justify-content: center;
}

.hend {
  justify-content: flex-end;
}

/* * */
/* SEQUENCE INDEX */

.sequenceIndex {
  font-size: 18px;
  color: var(--color-reference-1);
  font-weight: 600;
  line-height: 1;
}

/* * */
/* SEQUENCE STOP */

.sequenceStop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
  padding: var(--size-sm);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  transition: all 300ms ease;
}

.sequenceStop:hover {
  background-color: var(--color-reference-0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sequenceStopName {
  color: var(--color-reference-1);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
}

.stopLocationInfo {
  color: var(--color-gray-7);
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
}

.sequenceStopId {
  color: var(--color-gray-6);
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  /* border: 1px solid var(--color-gray-7);
  border-radius: 999px;
  padding: 1px 6px 2px 6px; */
}
