/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: var(--size-md);
}

/* * */
/* ROW */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

/* * */
/* LABEL */

.label {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-gray-4);
}
