/* * */
/* CONTAINER */

.container {
  border-radius: var(--size-xs);
  background-color: var(--color-gray-0);
  border: 1px solid var(--color-gray-2);
}

/* * */
/* HEADER & CONTENT  */

.header,
.content {
  padding: 12px;
}

/* * */
/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .leftSection,
.header .rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.header .leftSection {
  justify-content: flex-start;
}

.header .rightSection {
  justify-content: flex-end;
}

.collapsible .header {
  cursor: pointer;
}

.isOpen .header {
  border-bottom: 1px solid var(--color-gray-2);
}

/* * */
/* TITLE */

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  padding: 0 5px;
}

/* * */
/* TOGGLE */

.toggleIcon {
  display: flex;
  padding: 5px;
  color: var(--color-gray-3);
}

/* * */
/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* * */
/* DESCRIPTION */

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  padding: 2px 5px;
}

/* * */
/* CHILDREN */

.children {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}
