/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-reference-0);
  border: 1px solid var(--color-gray-2);
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--color-gray-1);
  }
}

/* * */
/* BODY */

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* * */
/* HEADER & FOOTER */

.header,
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-sm);
  padding: var(--size-sm);
  width: 100%;
}

.header {
  border-bottom: 1px solid var(--color-gray-2);
}

.footer {
  border-top: 1px solid var(--color-gray-2);
}
