/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 50;
  padding: var(--size-sm) var(--size-md);
  background-color: var(--color-reference-0);
  border-bottom: 1px solid var(--color-gray-2);
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--color-gray-1);
  }
}

/* * */
/* GREETING */

.greeting {
  color: var(--color-gray-4);
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: 1;
  padding-top: 4px;
}

/* * */
/* OPTIONS */

.options {
  display: flex;
  flex-direction: row;
  gap: var(--size-md);
}
