/* * */
/* CONTAINER */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 6px;
  border-radius: 3px;
  white-space: nowrap;
  /* DEFAULTS */
  color: white;
  background-color: #5aaf00;
}
