/* * */
/* CONTAINER */

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* * */
/* TOOLBAR */

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-gray-0);
  padding: var(--size-sm);
  gap: var(--size-md);
}
