/* * */
/* CONTAINER */

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 85px 1fr;
  border-top: 1px solid var(--color-gray-2);
}

/* * */
/* APP ICON */

.appIcon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--color-reference-0);
  border-bottom: 1px solid var(--color-gray-2);
  border-right: 1px solid var(--color-gray-2);
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .appIcon {
    background-color: var(--color-gray-1);
  }
}

/* * */
/* CONTENT */

.content {
  width: 100%;
  height: 100%;
  padding: var(--size-sm);
  background-color: var(--color-gray-0);
  z-index: 0;
}
