/* * */
/* TABLE CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  background-color: var(--color-gray-2);
  border-top: 1px solid var(--color-gray-2);
  overflow: auto;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--color-gray-3);
    border-color: var(--color-gray-3);
  }
}

/* * */
/* ROW */

.row {
  display: grid;
  grid-template-columns: 120px minmax(300px, 1fr) minmax(300px, 1fr) 50px;
  align-items: center;
  gap: var(--size-sm);
}

/* * */
/* HEADER */

.headerRow {
  color: var(--color-reference-1);
  background-color: var(--color-gray-1);
  font-size: 14px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .headerRow {
    background-color: var(--color-gray-2);
  }
}

/* * */
/* BODY */

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  width: 100%;
}

.bodyRow {
  background-color: var(--color-gray-0);
  font-size: 14px;
  font-weight: 500;
}

.bodyRow:hover {
  background-color: var(--color-gray-1);
}

@media (prefers-color-scheme: dark) {
  .bodyRow {
    background-color: var(--color-gray-1);
  }
  .bodyRow:hover {
    background-color: var(--color-gray-2);
  }
}

/* * */
/* ADD TRIP */

.footerToolbar {
  display: flex;
  flex-direction: row;
  gap: var(--size-sm);
  padding: var(--size-sm);
}

/* * */
/* COLUMN */

.column {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--size-sm) 0;
}

.column:first-child {
  padding-left: var(--size-md);
}

.column:last-child {
  padding-right: var(--size-sm);
}

/* * */
/* HORIZONTAL ALIGNMENT */

.hcenter {
  justify-content: center;
}

.hend {
  justify-content: flex-end;
}
