/* * */
/* TARGET */

.target {
  cursor: pointer;
}

/* * */
/* DROPDOWN */

.dropdown {
  min-width: 250px;
}

/* * */
/* OPTION */

.option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-gray-3);
  cursor: pointer;
  width: 100%;
}

.option:hover {
  color: var(--color-gray-5);
  background-color: var(--color-gray-0);
}
