.container {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--gray9);
  border: 1px solid var(--gray6);
  padding: 2px 6px;
  border-radius: var(--size-xs);
}
