.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.readOnly {
  cursor: default;
}

/* * */
/* NOTES INDICATOR */

.hasNote:after {
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: transparent;
}

/* * */
/* PERÍODO ESCOLAR */

.period1 {
  color: var(--period-1-text-idle);
  background-color: var(--period-1-background-idle);
}
.period1.hasNote:after {
  border-top-color: var(--period-1-note-idle);
}

.period1:hover {
  color: var(--period-1-text-hover);
  background-color: var(--period-1-background-hover);
}
.period1:hover.hasNote:after {
  border-top-color: var(--period-1-note-hover);
}

/* * */
/* PERÍODO DE FÉRIAS ESCOLARES */

.period2 {
  color: var(--period-2-text-idle);
  background-color: var(--period-2-background-idle);
}
.period2.hasNote:after {
  border-top-color: var(--period-2-note-idle);
}

.period2:hover {
  color: var(--period-2-text-hover);
  background-color: var(--period-2-background-hover);
}
.period2:hover.hasNote:after {
  border-top-color: var(--period-2-note-hover);
}

/* * */
/* PERÍODO DE VERÃO */

.period3 {
  color: var(--period-3-text-idle);
  background-color: var(--period-3-background-idle);
}
.period3.hasNote:after {
  border-top-color: var(--period-3-note-idle);
}

.period3:hover {
  color: var(--period-3-text-hover);
  background-color: var(--period-3-background-hover);
}
.period3:hover.hasNote:after {
  border-top-color: var(--period-3-note-hover);
}
