/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
}

/* * */
/* DATE PICKERS WRAPPER */

.datePickersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* * */
/* RESULTS WRAPPER */

.resultsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* * */
/* CARDS WRAPPER */

.cardsWrapperWithOneRow,
.cardsWrapperWithTwoRows {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardsWrapperWithTwoRows div:first-child {
  grid-column: 1/4;
}
