/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: var(--color-gray-5);
}

/* * */
/* LABEL */

.time {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}
