.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-md);
  width: 100%;
  background-color: var(--reference-0);
  border-bottom: 1px solid var(--gray4);
  padding: var(--size-md);
  cursor: pointer;
}

.container:hover {
  background-color: var(--gray0);
}

.container:active {
  background-color: var(--gray1);
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--gray1);
  }
  .container:hover {
    background-color: var(--gray2);
  }
  .container:active {
    background-color: var(--gray0);
  }
}

/*  */

.chevron {
  font-size: 20px;
  opacity: 0.25;
  color: var(--gray9);
}

.isSelected .chevron {
  opacity: 0.75;
}

/*  */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-sm);
  width: 100%;
}

/*  */

.isSelected,
.isSelected:hover,
.isSelected:active {
  cursor: default;
  background-color: var(--gray3);
}

@media (prefers-color-scheme: dark) {
  .isSelected,
  .isSelected:hover,
  .isSelected:active {
    background-color: var(--reference-0);
  }
}
