.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-md);
  border: 1px solid var(--gray3);
  border-radius: 4px;
  background-color: var(--reference-0);
  cursor: pointer;
}

.container:hover {
  border-color: var(--gray4);
  background-color: var(--gray0);
}

.container:active {
  border-color: var(--gray5);
  background-color: var(--gray1);
}

@media (prefers-color-scheme: dark) {
  .container {
    border-color: var(--gray5);
    background-color: var(--gray3);
  }

  .container:hover {
    border-color: var(--gray6);
    background-color: var(--gray3);
  }

  .container:active {
    border-color: var(--gray7);
    background-color: var(--gray4);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.value {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  color: var(--gray9);
}

.chevron {
  font-size: 20px;
  opacity: 0.25;
  color: var(--gray9);
}
