.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  background-color: var(--gray4);
  /* border-top: 1px solid var(--gray4);
  border-bottom: 1px solid var(--gray4); */
  overflow: auto;
}

.rowWrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}

.tableRow,
.tableHeaderRow,
.tableBodyRow {
  display: grid;
  grid-template-columns: 40px 40px 300px 40px 40px 200px 40px 180px 40px 180px 180px 500px 70px;
  align-items: center;
  gap: 5px;
}

.tableHeaderRow {
  background-color: var(--gray3);
}

.tableBodyRow {
  background-color: var(--gray0);
}

.tableBodyRow:hover {
  background-color: var(--gray1);
}

.tableCell,
.tableCellGrip,
.tableHeaderCell,
.tableBodyCell {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--size-sm);
  font-size: 14px;
}

.tableHeaderCell {
  min-height: 25px;
  font-weight: 600;
}

.tableBodyCell {
  min-height: 20px;
  font-weight: 600;
}

.hcenter {
  justify-content: center;
}

.tableCellGrip {
  color: var(--gray6);
  transition: color 300ms ease;
  cursor: grab;
}

.tableCellGrip:hover {
  color: var(--gray8);
}

.tableCellGrip:active {
  color: var(--gray8);
}

.sequenceIndex {
  font-size: 18px;
  color: var(--gray12);
  font-weight: 600;
  line-height: 1;
}
