/* * */
/* TABLE CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  background-color: var(--gray4);
  border: 1px solid var(--gray4);
  overflow-x: scroll;
}

/* * */
/* ROW */

.row {
  display: grid;
  grid-template-columns: 40px 300px 40px 40px 180px 30px 150px 30px 150px 150px 500px;
  align-items: center;
  gap: var(--size-sm);
}

/* * */
/* HEADER */

.headerRow {
  background-color: var(--gray3);
  font-size: 14px;
  font-weight: 600;
}

/* * */
/* BODY */

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  width: 100%;
}

.bodyRow {
  background-color: var(--gray0);
  font-size: 14px;
  font-weight: 500;
}

.bodyRow:hover {
  background-color: var(--gray1);
}

/* * */
/* COLUMN */

.column {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--size-sm) 0;
}

.column:first-child {
  padding-left: var(--size-sm);
}

.column:last-child {
  padding-right: var(--size-sm);
}

/* * */
/* HORIZONTAL ALIGNMENT */

.hcenter {
  justify-content: center;
}

.hend {
  justify-content: flex-end;
}

/* * */
/* SEQUENCE INDEX */

.sequenceIndex {
  font-size: 18px;
  color: var(--gray12);
  font-weight: 600;
  line-height: 1;
}

/* * */
/* SEQUENCE STOP */

.sequenceStop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: var(--size-sm);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  transition: all 300ms ease;
}

.sequenceStop:hover {
  background-color: var(--reference-0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sequenceStopName {
  color: var(--reference-1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.sequenceStopId {
  color: var(--gray8);
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid var(--gray7);
  border-radius: 999px;
  padding: 2px 8px 3px 8px;
}
