/* * */
/* CONTAINER */

.container {
  color: var(--color-gray-5);
  transition: all 300ms ease;
  line-height: 1.1;
}

/* SIZES */

.container.sm {
  font-size: 11px;
  font-weight: 600;
}

.container.md {
  font-size: 12px;
  font-weight: 700;
}
