.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-lg);
  padding: var(--size-lg);
  background-color: var(--gray1);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.loginForm {
  width: 300px;
  background: var(--gray0);
  border-radius: var(--size-xs);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.logoWrapper {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
  border-bottom: 1px solid var(--gray4);
}

.logoImg {
  display: flex;
  width: 100%;
  margin: auto;
  height: auto;
}

.formWrapper {
  width: 100%;
  padding: var(--size-lg);
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}
